.main{
    background-color:gray;
    height: 10px;
    font-size: 55px;
}
.items1{
    background-color:lightgray;
    height: 10px;
    font-size: 55px;

}
.items2{
    background-color:lightgrey;
    height: 10px;
    font-size: 55px;
}